@page "/adminordermanage"
@layout AdminMainLayout
@using ASMC6.Shared
@using ASMC6.Server.Service
@inject HttpClient httpClient
@inject NavigationManager Navigation

<style>
    .product-table-container {
        max-height: 600px;
        overflow-y: auto;
    }

        .product-table-container table {
            width: 100%;
        }

    .search-bar, .filter-bar {
        margin-bottom: 20px;
    }
</style>

<AuthorizeView Roles="1">
    <Authorized>
        @if (isLoaded)
        {
            <hr />

            <h4>Quản lý order</h4>
            <div class="search-bar">
                <input type="text" class="form-control" placeholder="Tìm theo sản phẩm" @oninput="SearchName" />
            </div>



            <div class="product-table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ảnh</th>
                            <th>Tên</th>
                            <th>Cửa hàng</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Ngày đặt</th>
                            <th>Người đặt</th>
                            <th>Tổng giá</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in listOrder)
                        {
                            var connectUser = listUser.FirstOrDefault(u => u.UserId == order.UserId);
                            if (connectUser != null)
                            {
                                var oiForRest = listOrderItem.FirstOrDefault(oi => oi.OrderId == order.OrderId);

                                if (oiForRest != null)
                                {
                                    var connectProd = listProd.FirstOrDefault(prod => prod.ProductId == oiForRest.ProductId);

                                    if (connectProd != null)
                                    {
                                        var connectMenu = listMenu.FirstOrDefault(m => m.MenuId == connectProd.MenuId);

                                        if (connectMenu != null)
                                        {
                                            var connectRest = listRest.FirstOrDefault(m => m.RestaurantId == connectMenu.RestaurantId);
                                            if (connectRest != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <img src="./image/product/@connectProd.Image" width="60px" alt="Product Image" />
                                                    </td>
                                                    <td>@connectProd.Name</td>
                                                    <td>@connectRest.Name</td>
                                                    <td>@connectProd.Price</td>
                                                    <td>X @oiForRest.Quantity</td>
                                                    <td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
                                                    <td>@connectUser.Name</td>
                                                    <td>@order.TotalAmount.ToString("#,##0")</td>
                                                    <td>@order.Status</td>
                                                </tr>
                                            }
                                        }
                                    }

                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        }
        else if (!string.IsNullOrEmpty(errorMessage))
        {
            <p class="text-danger">@errorMessage</p>
        }
        else
        {
            <p>Loading...</p>
        }
    </Authorized>
    <NotAuthorized>
        <h3>Không có quyền truy cập</h3>
    </NotAuthorized>
</AuthorizeView>

