@page "/cart"
@using ASMC6.Shared
@using ASMC6.Server.Service
@inject HttpClient httpClient
@inject CartService CartService
@inject NavigationManager Navigation

<div class="container mt-5">
    <div class="col-md-12 row">
        <div class="col-md-8">
            <hr />
            <div class="col-md-12">
                <b>GIỎ HÀNG</b>
@*                 <p>giỏ hàng hiện có @cartItems.Count() sản phẩm</p> *@
            </div>
            @if (cartItems == null)
            {
                <p>Loading...</p>
            }
            else if (!cartItems.Any())
            {
                <p>Your cart is empty.</p>
            }
            else
            {
                <div class="cart-content" style="overflow-x:auto;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-2 center aligned align-middle">Ảnh</th>
                                <th class="col-3 center aligned">Sản phẩm</th>
                                <th class="col-2 center aligned">Số lượng</th>
                                <th class="col-3 center aligned">Giá</th>
                                <th class="col-4 center aligned">Thành tiền</th>
                                <th class="col-1 center aligned">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var prod in cartItems)
                            {
                                <tr>
                                    <td class="align-middle">
                                        <img class="img-fluid rounded d-block" width="70px" height="auto" src="./image/product/@prod.Image" alt="image">
                                    </td>
                                    <td class="align-middle fw-bold">@prod.Name</td>
                                    <td class="align-middle">
                                        <div class="input-group" style="width: 70%;">
                                            <input class="form-control txt-qty" type="number" min="1" max="1" value="1">
                                        </div>
                                    </td>
                                    <td class="right aligned align-middle price">@prod.Price.ToString("#,##0") VNĐ</td>
                                    <td class="center aligned align-middle">
                                        <button class="btn btn-danger btn-trash-cart" @onclick="() => RemoveFromCart(prod)"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>  
            }
        </div>

        <div class="col-md-4 rounded bg-primary text-white">
            <h2 class="col-md-12">Thanh toán</h2>
            <div class="col-md-12 p-4 row">
                <p>chọn ngân hàng</p>
                <hr />
                <div class="col-md-3">
                    <img src="./image/visa.jpg"
                         alt=""
                         width="100%"
                         height="100%" />
                </div>
                <div class="col-md-3">
                    <img src="./image/vnpay.jpg"
                         alt=""
                         width="100%"
                         height="100%" />
                </div>
                <div class="col-md-3">
                    <img src="./image/mastercard.jpg"
                         alt=""
                         width="100%"
                         height="100%" />
                </div>
                <div class="col-md-3">
                    <button class="btn btn-light">Xem thêm</button>
                </div>
            </div>
            <hr />
            <div class="col-md-12 row">
                <p class="col-md-6">Thành tiền</p>
                <p class="col-md-6 text-end">@Total.ToString("#,##0") VND</p>
            </div>
            <div class="col-md-12 row">
                <p class="col-md-6">Giao hàng</p>
                <p class="col-md-6 text-end">@Fee.ToString("#,##0") VND</p>
            </div>
            <div class="col-md-12 row">
                <p class="col-md-6">Tổng</p>
                <p class="col-md-6 text-end">@Pay.ToString("#,##0") VND</p>
            </div>
            <div class="col-md-12 mb-3">
                <button class="col-md-12 btn btn-danger" @onclick="Thanhtoan">Thanh toán</button>
            </div>
        </div>
    </div>
</div>

