@page "/payment"
@using ASMC6.Client.Session;
@using ASMC6.Shared
@using ASMC6.Server.Service
@inject HttpClient httpClient
@inject CartService CartService
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation


<div class="container mt-2 mb-3">
    <h1 class="text-center fw-bold mb-3">Hóa đơn đặt hàng</h1>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <h2 class="mb-4">Thông tin giao hàng</h2>
            <hr>
            <div class="mb-3">
                <label for="fullname" class="form-label">Họ và tên</label>
                <input type="text" class="form-control" value="@SUser.User.Name" id="fullname" name="fullname">
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label">Số điện thoại</label>
                <input type="text" class="form-control" value="@SUser.User.Phone" id="phone" name="phone">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" value="@SUser.User.Email" id="email" name="email">
            </div>

            <div class="mb-3">
                <label for="address" class="form-label">Địa chỉ</label>
                <input type="text" class="form-control" value="@SUser.User.Address" id="address" name="address">
            </div>
            <div class="mb-3">
                <label for="voucher">Mã giảm giá ( nếu có)</label>
                <input type="text" @bind="@voucher" @oninput="ApplyVoucher" id="voucher" class="form-control" minlength="5" />
            </div>

            <div class="mb-3">
                <label for="note" class="form-label">Ghi chú</label>
                <textarea class="form-control" id="note" name="note" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label class="font-weight-bold">Quet de nhan ma giam gia 15k</label>
                <div id="qrcode"></div>
            </div>
        </div>
        <div class="col-md-5">
            <h2 class="mb-4">Đơn hàng</h2>
            <hr />
            <div class="card mb-4">
                <div class="card-body">
                    @if (cartItems == null)
                    {
                        <p>Loading...</p>
                    }
                    else if (!cartItems.Any())
                    {
                        <p>Your cart is empty.</p>
                    }
                    else
                    {
                        @foreach (var item in cartItems)
                        {
                            <div class="row mb-3">
                                <div class="col-4">
                                    <img src="./image/product/@item.Image" alt="Sản Phẩm" width="50px" height="50px" />
                                </div>
                                <div class="col-4">
                                    @item.Name <span class="sl">(x1)</span>
                                    <div class="thuoc-tinh"></div>
                                </div>
                                <div class="col-4 text-end"><span class="prodPrice">@item.Price.ToString("#,###")</span> VNĐ</div>
                            </div>
                        }
                    }
                    
                    <div class="row mb-3">
                        <div class="col-8"><strong>Tạm tính</strong></div>
                        <div class="col-4 text-end"><strong>@TotalAmount.ToString("#,###") Đ</strong></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8">Phí vận chuyển</div>
                        <div class="col-4 text-end lbl-shipfee" data-shipping-fee="0">25,000 VNĐ</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8"><input type="checkbox" @onchange="UpdateFee" checked /> Giao hỏa tốc</div>
                        <div class="col-4 text-end lbl-shipfee" data-shipping-fee="0">25,000 VNĐ</div>
                    </div>
                    <hr />
                    <div class="row mb-3">
                        <div class="col-8"><strong>Tổng tiền</strong></div>
                        <div class="col-4 text-end"><strong>@Total.ToString("#,###") Đ</strong></div>
                    </div>
                    <hr />
                    <div class="mb-3">
                        <p>
                            Thực hiện thanh toán trực tiếp vào tài khoản ngân hàng của chúng
                            tôi. Vui lòng sử dụng ID đơn hàng của bạn làm tài liệu tham khảo
                            thanh toán. Đơn hàng của bạn sẽ không được vận chuyển cho đến khi
                            tiền đã được thanh toán hết trong tài khoản.
                        </p>
                    </div>
                    <div class="row mb-3">
                        <div>
                            <input type="checkbox" @onchange="Pay" /> Tôi đồng ý với các điều khoản
                        </div>
                    </div>
                    <div class="row mb-3">
                        <button class="btn btn-danger rounded" @onclick="History" disabled="@(isRuleChecked ? null : true)">Đặt hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>