@page "/register"
@using ASMC6.Shared
@inject HttpClient httpClient
@inject IJSRuntime JS


<article class="container">
    <div class="mt-4 mb-4 register mx-auto" style="height: 800px !important;">
        <h1 class="text-center fw-bold pt-4">
            Đăng Ký Tài Khoản
        </h1>

        <EditForm class="register-form" Model="@user" OnValidSubmit="AddUser" novalidate>
            <DataAnnotationsValidator />
            <div class="form-group position-relative" style="margin-bottom:30px">
                <label class="control-label">Tên</label>
                <InputText @bind-Value="user.Name" class="form-control" />
                <ValidationMessage For="@(() => user.Name)" style="margin-left:10px; position:absolute; left:0; bottom:-25px; font-size:15px !important;" />
            </div>
            <div class="form-group position-relative" style="margin-bottom:30px">
                <label class="control-label">Email</label>
                <InputText @bind-Value="user.Email" class="form-control" type="email" />
                <ValidationMessage For="@(() => user.Email)" style="margin-left:10px; position:absolute; left:0; bottom:-25px; font-size:15px !important;" />
            </div>
            <div class="form-group position-relative" style="margin-bottom:30px">
                <label class="control-label">Mật khẩu</label>
                <InputText @bind-Value="user.Password" class="form-control" type="password" />
                <ValidationMessage For="@(() => user.Password)" style="margin-left:10px; position:absolute; left:0; bottom:-25px; font-size:15px !important;"/>
            </div>
            <div class="form-group position-relative" style="margin-bottom:30px">
                <label class="control-label">Số điện thoại</label>
                <InputText @bind-Value="user.Phone" class="form-control" type="number" />
                <ValidationMessage For="@(() => user.Phone)" style="margin-left:10px; position:absolute; left:0; bottom:-25px; font-size:15px !important;" />
            </div>
            <div class="form-group position-relative" style="margin-bottom:30px">
                <label class="control-label">Địa chỉ</label>
                <InputText @bind-Value="user.Address" class="form-control" />
                <ValidationMessage For="@(() => user.Address)" style="margin-left:10px; position:absolute; left:0; bottom:-25px; font-size:15px !important;" />
            </div>  
            <div class="form-group text-center" style="margin-bottom:20px">
                <button type="submit" class="register-submit-btn btn btn-primary">Đăng ký</button>
            </div>
        </EditForm>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger mt-3">
                @errorMessage
            </div>
        } *@
    </div>
</article>