@page "/restaurant/{userId:int}"
@using ASMC6.Shared
@inject HttpClient httpClient
@inject IJSRuntime JS


<AuthorizeView Roles="2">
    <Authorized>
        @if (listProMenu is null)
        {
            <p>Loading...</p>
        }
        else
        {
            <article class="container mb-3">
                <div class="mt-5 mb-5 row text-light fw-bold bg-danger bg-opacity-90 align-items-center">
                    <div class="col-md-5 mt-2 mb-2">
                        <img class="rounded" src="/image/restaurant/@restaurant.Image" width="100%" height="250vh" alt="">
                    </div>
                    <div class="info-res col-md-5 ms-2 fw-bold">
                        <div class="text-light">
                            <h1>Phúc Long</h1>
                            <hr>
                            <span>Thời gian mở cửa: @restaurant.OpeningHours.ToShortTimeString()</span><br>
                            <span>Địa chỉ: @restaurant.Address</span><br>
                            <span>Đánh giá: 4.8/5</span>
                        </div>
                    </div>
                </div>
                <div class="label-banner row">
                    <span class="text-center">Menu của quán</span>
                </div>
                <div class="col-md-12 row mx-auto justify-content-center p-0">
                    @if (listProMenu == null)
                    {
                        <p>loain</p>
                        <div class="bd">
                            <div id="loading">
                                <div class="item1"></div>
                                <div class="item2"></div>
                                <div class="item3"></div>
                            </div>
                        </div>

                    }
                    else
                    {
                        @foreach (var item in listProMenu)
                        {
                            <div class="col-md-4 text-center inner-food">
                                <img src="/image/restaurant/@item.Image" alt="" width="100%" height="70%">
                                <div class="name-food row m-0" style="height:46px; font-size:25px; color:white; background-color: #DB3737 ;">
                                    <span class="text-name-food text-truncate" style="">nv @item.Name</span>
                                </div>
                                <div class="address-food row m-0" style="background-color:#C56D6D; height:46px; font-size:25px; color:white;">
                                    <span class="text-addres-food text-truncate">ax @restaurant.Address</span>
                                </div>
                            </div>
                        }
                    }

                </div>
                @* <div id="carouselExampleCaptions1" class="carousel slide" style="margin-bottom:70px;">
                    <div class="carousel-inner">
                        <hr class="mb-3">
                        <div class="carousel-item active">
                            <div class="col-md-12 row mx-auto justify-content-center p-0">
                                @if (listProMenu is null)
                                {
                                    <div class="bd">
                                        <div id="loading">
                                            <div class="item1"></div>
                                            <div class="item2"></div>
                                            <div class="item3"></div>
                                        </div>
                                    </div>
     
                                }
                                else
                                {
                                    @foreach (var item in listProMenu)
                                    {
                                        <div class="col-md-4 text-center inner-food">
                                            <img src="/image/restaurant/@item.Image" alt="" width="100%" height="70%">
                                            <div class="name-food row m-0" style="height:46px; font-size:25px; color:white; background-color: #DB3737 ;">
                                                <span class="text-name-food text-truncate" style="">nv @item.Name</span>
                                            </div>
                                            <div class="address-food row m-0" style="background-color:#C56D6D; height:46px; font-size:25px; color:white;">
                                                <span class="text-addres-food text-truncate">ax @restaurant.Address</span>
                                            </div>
                                        </div>
                                    }
                                }
                                 
                            </div>
                        </div>

                    </div>
                    <div class="carousel col-md-4 mx-auto mt-3">
                        <div class="m-0  position-relative">
                            <button class="carousel-control-prev bg-danger" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="prev" style="height: 50px; border-radius:25px; width:120px;">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">previous</span>
                            </button>
                            <button class="carousel-control-next bg-danger" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="next" style="height: 50px; border-radius:25px; width:120px;">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">next</span>
                            </button>
                        </div>
                    </div>
                </div> *@
            </article>
        }
    </Authorized>
    <NotAuthorized>
        <h3>Bạn không có quyền truy cập</h3>
        <img src="/image/meme-cut-14.jpg" width="100%" height="auto" alt="Alternate Text" />
    </NotAuthorized>
</AuthorizeView>


